<section class="">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
        <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Gallery of Characters</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Explore the world of Elites with the list of characters and know their personality and identity.</p>
        </div> 
        <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="https://steamuserimages-a.akamaihd.net/ugc/1899975013744290763/9828708A9FCE119EADBC29DFA21E27EE4715C9CE/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false" alt="Bonnie Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-pink-700 dark:text-pink-700">
                    <a href="#">Kiyotaka Ayanokōji</a>
                </h3>
                <h6 class="text-justify text-xs mb-5">“
                    I've never once thought of you as an ally. Not you. Not Kushida. Not Hirata. All humans are nothing but tools. It doesn't matter how it's done. It doesn't matter what needs to be sacrificed. In this ruthless world, winning is everything. As long as I win in the end...That's all that matters.
                    ”</h6>
                <p class="text-justify text-sm">Kiyotaka Ayanokōji (綾あやの小こう路じ 清きよ隆たか, Ayanokōji Kiyotaka) is the main protagonist of the You-Zitsu series. He is currently a second-year student of Advanced Nurturing High School. Following the entrance exam in which he scored precisely 50 points in every subject, he was placed in D-Class. In the anime adaptation, he sits at the rear left corner of the class seat next to Suzune Horikita.</p>
               
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="https://i.pinimg.com/736x/27/8e/e0/278ee0a04b905ff4f2c37a2079cc93fa.jpg" alt="Helene Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-pink-700 dark:text-pink-700">
                    <a href="#">Suzune Horikita</a>
                </h3>
                <h6 class="text-justify text-xs mb-5">“
                    If I can't do something, I'll be holding Class D back... I, who looked down my nose at the others and called them worthless... When it comes down to it, not only I am useless, I'm resolving things with violence. It's utterly absurd...
                    ”</h6>
                <p class="text-justify text-sm">Suzune Horikita (堀ほり北きた 鈴すず音ね, Horikita Suzune) is one of the main characters of the You-Zitsu series and the main heroine of the √Horikita spin-off manga. She is known to be the younger sister of Manabu Horikita, the Student Council president of the school on the 1st Year Arc.
                    She is currently a second-year student of Advanced Nurturing High School. At the start of the series, she was introduced as the class representative and a student of Class 1-D, seated at the rear row of the class, next to Kiyotaka Ayanokōji.
                    
                    Despite her academic ability, she was placed in D-Class due to her inability to work with others. Nevertheless, she strives for A-Class and will do anything to reach that goal.</p>
                
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="https://i.pinimg.com/736x/e5/31/28/e531282ce03a7576e62b44dcfbda80c2.jpg" alt="Jese Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-pink-700 dark:text-pink-700">
                    <a href="#">Kei Karuizawa</a>
                </h3>
                <h6 class="text-justify text-xs mb-5">“
                    In the end, nothing changed even after I came to this school. No, that's wrong... Maybe I never had any intention of changing. For better or worse, it's always been the same for me. After all, I understand myself better than anyone else.
                    ”</h6>
                <p class="text-justify text-sm">Kei Karuizawa (軽かる井い沢ざわ 恵けい, Karuizawa Kei) is one of the heroines of the You-Zitsu series. Currently a second-year student of Advanced Nurturing High School, she is a prominent figure in Class D and is considered to be the girl's leader of the class.</p>
                
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="https://i.pinimg.com/736x/e7/22/37/e722379a5af0d87d772b89dc7e4563a2.jpg" alt="Joseph Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-pink-700 dark:text-pink-700">
                    <a href="#">Kikyō Kushida</a>
                </h3>
                <h6 class="text-justify text-xs mb-5">“
                    I'm living as my ideal self. I always knew I was blessed even when compared to my peers. I have a good memory and so I excelled in academics. I'm also good at sports. I'm also confident when it comes to socializing. I'm also a very flexible person and I can adapt to almost any situation. So. "Am I a perfect human being?" If you ask me that, the answer would be 'no'.
                    ”</h6>
                <p class="text-justify text-sm">Kikyō Kushida (櫛くし田だ 桔き梗きょう, Kushida Kikyō) is one of the main characters of the You-Zitsu series. She is a student of Class 1-D. She is quite popular in her class as well as the whole school as she aims to befriend everyone.</p>
                
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyrCAdJkH6w8KJqrioRU9YQvGAmDZSPCMYNw&s" alt="Sofia Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-pink-700 dark:text-pink-700">
                    <a href="#">Arisu Sakayanagi</a>
                </h3>
                <h6 class="text-justify text-xs mb-5">“
                    I don't want to be interrupted. I'm the only one worthy of burying the false genius.
                    ”</h6>
                <p>Arisu is a petite teenage girl with lilac colored, short hair that reaches her shoulders and violet eyes. She wears the standard female school uniform which consists of a white shirt, red blazer, a navy blue bow tie, white skirt with black frills at the end and dark brown shoes, with her accessories being a black beret on her head with a gray ribbon connected to it and a white pair of stockings with garterbelts.</p>
                
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="https://i.pinimg.com/1200x/b8/1f/29/b81f29b0487b3c3ebebe2257e1a19969.jpg" alt="Leslie Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-pink-700 dark:text-pink-700">
                    <a href="#">Airi Sakura</a>
                </h3>
                <h6 class="text-justify text-xs mb-5">“
                    I――from the bottom of my heart, want a person that can reach me.
                    ”</h6>
                <p class="text-justify text-sm">Airi is a teenage girl of average height with waist-length pink hair tied in low twin pigtails and swept bangs on the left side. She has gradient blue eyes and a well-endowed figure, comparable to that of Honami Ichinose. If she were as confident as Honami, her popularity could have been on the same tier. Airi is considered highly attractive, having received advances from a sales clerk and several classmates.</p>
                
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="https://i.pinimg.com/originals/a9/8f/fa/a98ffaa62394c97b6bd42bb408bba425.jpg" alt="Michael Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-pink-700 dark:text-pink-700">
                    <a href="#">Kakeru Ryūen</a>
                </h3>
                <h6 class="text-justify text-xs mb-5">“
                    This is the way I do things. There can be nothing more or less.
                    ”</h6>
                <p class="text-justify text-sm">Kakeru Ryūen (龍りゅう園えん 翔かける, Ryūen Kakeru) is the class representative of Class 1-C who is known for being an infamous delinquent and he does not lead his class by trust, but rather by fear. He has a group of henchmen who do his dirty work, which contributes to his fearsome reputation.</p>
                
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="https://i.pinimg.com/736x/67/10/15/671015a1bc4bfd18cf0db003bf39ba57.jpg" alt="Neil Avatar">
                <h3 class="mb-1 text-2xl font-bold tracking-tight text-pink-700 dark:text-pink-700">
                    <a href="#">Ken Sudō</a>
                </h3>
                <h6 class="text-justify text-xs mb-5">“
                    Normally, I dislike playing with others as a team, but miraculously, I was able to make it work in the case of basketball.
                    ”</h6>
                <p class="text-justify text-sm">Ken Sudō (須す藤どう 健けん, Sudō Ken) is a student of class 2-D and a member of the Basketball Club. Due to his poor academic ability, he is referred to as one of the 3 Idiots of D-Class. Regardless of this, his athletic ability is without a doubt one of the best among the school.</p>
               
            </div>
        </div>  
    </div>
  </section>